/* =========================================
   PROJECT SECTION
========================================= */

.projects-section{
    padding:120px 20px;
    overflow:hidden;
}

.projects-header{
    text-align:center;
    margin-bottom:70px;
}

.projects-subtitle{
    color:#56CFA2;
    letter-spacing:4px;
    font-size:.85rem;
    font-weight:700;
    margin-bottom:12px;
}

.projects-header h2{
    color:#fff;
    font-size:clamp(2.5rem,5vw,4rem);
    margin-bottom:18px;
}

.projects-header p{
    color:#94A3B8;
    max-width:650px;
    margin:auto;
    line-height:1.8;
}


/* =========================================
   CAROUSEL
========================================= */

.carousel{
    width:100%;
}

.carousel-container{

    position:relative;

    width:1200px;

    max-width:100%;

    height:620px;

    margin:auto;

    perspective:1800px;

}


/* =========================================
   PROJECT CARD
========================================= */

.project-card{

    position:absolute;

    top:50%;
    left:50%;

    width:700px;
    height:500px;

    transform:translate(-50%,-50%);

    background:#10161d;

    border-radius:28px;

    overflow:hidden;

    border:1px solid rgba(255,255,255,.08);

    transition:
        transform .55s ease,
        opacity .55s ease,
        filter .55s ease;

    cursor:pointer;

}


/* CENTER */

/* ===========================
   CENTER CARD
=========================== */

.project-card.center{

    transform:
        translate(-50%,-50%)
        scale(1);

    opacity:1;

    filter:none;

    z-index:5;

    box-shadow:
        0 35px 90px rgba(0,0,0,.55);

        animation: floatCard 5s ease-in-out infinite;

}

/* ===========================
   LEFT CARD
=========================== */

.project-card.left{

    transform:
        translate(-145%,-50%)
        scale(.82)
        rotateY(18deg);

    opacity:.35;

    filter:blur(4px);

    z-index:2;

    pointer-events:none;

}

/* ===========================
   RIGHT CARD
=========================== */

.project-card.right{

    transform:
        translate(45%,-50%)
        scale(.82)
        rotateY(-18deg);

    opacity:.35;

    filter:blur(4px);

    z-index:2;

    pointer-events:none;

}


/* =========================================
   IMAGE
========================================= */

.project-image{

    height:250px;

}

.project-image img{

    width:100%;
    height:100%;

    object-fit:cover;

    display:block;

}


/* =========================================
   CONTENT
========================================= */

.project-content{

    padding:28px;

}

.project-category{

    color:#56CFA2;

    letter-spacing:2px;

    font-size:.8rem;

    text-transform:uppercase;

    margin-bottom:12px;

}

.project-content h3{

    color:white;

    margin-bottom:15px;

    font-size:2rem;

}

.project-description{

    color:#94A3B8;

    line-height:1.7;

    margin-bottom:20px;

}


/* =========================================
   TAGS
========================================= */

.tech-list{

    display:flex;

    flex-wrap:wrap;

    gap:10px;

    margin-bottom:20px;

}

.tech-list span{

    background:#1B232D;

    padding:8px 15px;

    border-radius:999px;

    color:#CBD5E1;

    font-size:.8rem;

}


/* =========================================
   LINKS
========================================= */

.project-links{

    display:flex;

    gap:14px;

}

.project-links a{

    text-decoration:none;

    padding:12px 22px;

    border-radius:999px;

    background:#56CFA2;

    color:#08110D;

    font-weight:700;

}


/* =========================================
   ARROWS
========================================= */

.carousel-arrow{

    position:absolute;

    top:50%;

    transform:translateY(-50%);

    width:58px;

    height:58px;

    border:none;

    border-radius:50%;

    background:#161D25;

    color:white;

    font-size:24px;

    cursor:pointer;

    z-index:20;

}

.carousel-arrow.left{

    left:0;

}

.carousel-arrow.right{

    right:0;

}


/* =========================================
   DOTS
========================================= */

.carousel-dots{

    display:flex;

    justify-content:center;

    gap:12px;

    margin-top:35px;

}

.dot{

    width:12px;

    height:12px;

    border:none;

    border-radius:50%;

    background:#394150;

    cursor:pointer;

}

.dot.active{

    width:34px;

    border-radius:999px;

    background:#56CFA2;

}


/* =========================================
   RESPONSIVE
========================================= */

@media(max-width:1100px){

.project-card.left,
.project-card.right{

    display:none;

}

.project-card.center{

    width:90%;

}

.carousel-container{

    height:560px;

}

}

/* =========================================
   MODAL
========================================= */

.modal-overlay{
    position:fixed;
    inset:0;
    background:rgba(0,0,0,.75);
    backdrop-filter:blur(10px);
    display:flex;
    justify-content:center;
    align-items:center;
    z-index:999;
    padding:20px;
}

.modal{
    width:650px;
    max-width:90vw;
    max-height:80vh;

    background:#10161D;

    border-radius:24px;

    overflow:hidden;

    display:flex;
    flex-direction:column;

    border:1px solid rgba(255,255,255,.08);

    box-shadow:0 30px 80px rgba(0,0,0,.45);
}
.modal-image{
    height:220px;
    flex-shrink:0;
}

.modal-image img{
    width:100%;
    height:100%;
    object-fit:cover;
}

.modal-content{
    padding:24px;
    overflow-y:auto;
}
.modal-header{
    display:flex;
    justify-content:space-between;
    margin-bottom:20px;
}

.modal-category{
    color:#56CFA2;
    letter-spacing:2px;
    text-transform:uppercase;
    font-size:.8rem;
}

.modal-status{
    color:#CBD5E1;
    font-size:.85rem;
}

.modal-content h2{
    font-size:1.6rem;
}

.modal-content p{
    color:#94A3B8;
    line-height:1.8;
    margin-bottom:24px;
}

.modal-tech{
    display:flex;
    flex-wrap:wrap;
    gap:10px;
    margin-bottom:28px;
}

.modal-tech span{
    background:#1B232D;
    color:#CBD5E1;
    padding:8px 14px;
    border-radius:999px;
}

.modal-buttons{
    display:flex;
    gap:14px;
}

.modal-buttons a{
    text-decoration:none;
    padding:12px 22px;
    border-radius:999px;
    background:#56CFA2;
    color:#08110D;
    font-weight:700;
}

.close-modal{
    position:absolute;
    top:18px;
    right:18px;
    width:42px;
    height:42px;
    border:none;
    border-radius:50%;
    cursor:pointer;
    background:rgba(0,0,0,.5);
    color:white;
    font-size:18px;
}

.project-overlay{
    position:absolute;
    top:20px;
    left:20px;
}

.project-overlay span{
    background:rgba(0,0,0,.6);
    backdrop-filter:blur(8px);
    color:white;
    padding:8px 16px;
    border-radius:999px;
    font-size:.8rem;
}

.project-footer{
    display:flex;
    justify-content:space-between;
    align-items:center;
    margin-top:28px;
}

@keyframes floatCard{

    0%{
        transform:translate(-50%,-50%) scale(1);
    }

    50%{
        transform:translate(-50%,-53%) scale(1.01);
    }

    100%{
        transform:translate(-50%,-50%) scale(1);
    }

}
